# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
env.bak/
*.log

# Jupyter
.ipynb_checkpoints/

# macOS / Windows
.DS_Store
Thumbs.db

# Chrome Extension
*.zip
*.7z
node_modules/
dist/
*.crx

# VSCode
.vscode/

# secret files
*.env
secrets.json

# PyInstaller
build/
dist/
*.spec

# Deprecated
deprecated-*.py